html {
    font-size: 625%;
    width: 100%;
    height: 100%;
}

body {
    color: white;
    font-family: "Microsoft YaHei UI", "serif","PingFang SC Bold","PingFang SC Regular";
    font-size:16px;
}
*{
    margin: 0;
    padding: 0;

}
#all{
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../img/maintenance.png") no-repeat center center fixed;
    background-size: cover;
}
.content{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.iris_explorer_logo{
    margin: 0.3rem 0 0 0.7rem;
}
.iris_explorer_logo img{
    width: 180px;
}
.upgrade_text{
    margin: 16vh 0 0 0.7rem;
    color: #000;
}
.upgrade_text p:nth-child(1){
    font-size: 0.36rem;
    font-weight: 600;
}
.upgrade_text p:nth-child(2){
    margin-top: 0.2rem;
    font-size: 0.2rem;
    line-height: 0.35rem;
    color: #7d7d7d;
}
.upgrade_text p:nth-child(3){
    font-size: 0.2rem;
    color: #7d7d7d;
}
.link_content{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    margin: 10vh 0 0 0.7rem;
}
.link_content a:nth-child(2){
    padding: 0 0.3rem;
}
.phone{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../img/app_maintenance.png") no-repeat bottom fixed;
    background-size: 100%;
}
.mobile_container{
    padding: 0.25rem 0.3rem 0 0.25rem;
}
.mobile_logo_content{
    width: 1.34rem;
    height: 0.46rem
}
.mobil_text_content{
    color: #000;
}
.mobil_text_content p:nth-child(1){
    font-size: 0.24rem;
    font-weight: 600;
    padding-top: 0.5rem;
}
.mobil_text_content p:nth-child(2){
    padding-top: 0.15rem;
    color: #7d7d7d;
    font-size: 0.13rem;
}
.mobil_text_content p:nth-child(3){
    padding-top: 0.04rem;
    color: #7d7d7d;
    font-size: 0.13rem;
}
.mobile_web_site_link_content{
    padding-top: 0.45rem;
    height: 0.31rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mobile_web_site_link_content a{
    height: 0.31rem;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
}
a{
    outline:none;
    -webkit-tap-highlight-color:transparent;
}
.irisnet_logo_img{
    height: 0.21rem;
}
.twitter_logo_img{
    height: 0.31rem;
    margin: 0 0.2rem;
}
.riot_room_logo_img{
    height: 0.31rem;
}
