.transactions_detail_wrap {
    @include flex;
    @include pcContainer;
    font-size:0.14rem;
    .transactions_title_wrap {
        background: #efeff1;
        border-bottom: 0.01rem solid #eee;
        @include flex;
        @include pcContainer;
        .personal_computer_transactions_detail_wrap {
            @include flex;
            align-items: center;
            height: 0.62rem;
            padding-left: 0.2rem;
        }
        .mobile_transactions_detail_wrap {
            @include flex;
            flex-direction: column;
        }
    }

    .personal_computer_transactions_detail_wrap{
        .transaction_information_content_title{
            height: 0.7rem;
            line-height: 0.7rem;
            font-size:0.18rem;
            color:#000000;
            padding-left: 0.2rem;
        }
        .transactions_detail_information_wrap{
            padding: 0.2rem 0.2rem 0.08rem;
            .information_props_wrap{
                line-height: 0.2rem;
                margin-bottom: 0.12rem;
            }
        }
    }

    .pagination {
        @include flex;
        justify-content: flex-end;
        @include borderRadius(0.025rem);
        height:0.3rem;
        li{
            height:0.3rem !important;
        }
    }
    .personal_computer_transactions_detail_wrap {
        @include pcCenter;
        .transactions_detail_information_wrap{
            border: 0.01rem solid #d7d9e0;
            .information_props_wrap{
                @include flex;
                .information_props{
                    min-width:1.5rem;
                    font-size:0.14rem;
                   color:var(--contentColor)
                }
                .operator_value{
                    cursor: pointer;
                    color: var(--bgColor) !important;
                    a{
                        color: var(--bgColor) !important;
                    }
                }
                .information_value{
                    word-break: break-all;
                    color: var(--titleColor);
                    font-size:0.14rem;
                    .information_pre{
                        color: var(--titleColor);
                    }
                }
                .link_style{
                    pre{
                        color: var(--bgColor) !important;
                        cursor: pointer;
                    }
                }
            }
        }
        .transactions_detail_title {
            height: 0.4rem;
            line-height: 0.4rem;
            font-size: 0.22rem;
            color: #000000;
            margin-right: 0.2rem;
            @include fontWeight;
        }
        .transactions_detail_wrap_hash_var {
            height: 0.4rem;
            line-height: 0.4rem;
            font-size: 0.22rem;
            color: var(--titleColor);
            i{
                font-style:normal;
                padding: 0 0.07rem;
                background:var(--bgColor);
                border-radius:0.04rem;
                color:#ffffff;
                font-size:0.22rem;
            }
            .profile_logo_img{
                margin-bottom:0.03rem;
                border-radius: 0.04rem;
                margin-left: 0.05rem;
            }
            span{
                display: inline-block;
            }
        }
    }

    .mobile_transactions_detail_wrap {
        width: 100%;
        @include flex;
        flex-direction: column;
        padding: 0 0.1rem;
        box-sizing: border-box;
        .transaction_information_content_title{
            height:0.7rem;
            line-height:0.7rem;
            font-size:0.18rem;
            color:#000000;
            @include fontWeight;
            margin-bottom:0;
            padding-left: 0.1rem;
        }
        .transactions_detail_information_wrap{
            padding: 0.1rem;
            border: 0.01rem solid #d7d9e0;
            .information_props_wrap{
                @include flex;
                flex-direction:column;
                border-bottom:none !important;
                line-height: 0.2rem;
                .information_value{
                    overflow-x:auto;
                    overflow-y:hidden;
                    -webkit-overflow-scrolling:touch;
                    color: var(--titleColor);
                    .information_pre{
                        color: var(--titleColor);
                    }
                }
                .link_style{
                    pre{
                        color: var(--bgColor) !important;
                        cursor: pointer;
                    }
                }
                .operator_value{
                    cursor: pointer;
                    color: var(--bgColor) !important;
                    a{
                        color: var(--bgColor) !important;
                    }
                }
                .information_props{
                    font-size:0.14rem;
                    color:#000000;
                }
            }
        }
        .transactions_detail_title {
            height: 0.3rem;
            line-height: 0.3rem;
            font-size: 0.18rem;
            color: #000000;
            margin-right: 0.2rem;
            @include fontWeight;
        }
        .transactions_detail_wrap_hash_var {
            overflow-x: auto;
            -webkit-overflow-scrolling:touch;
            height: 0.3rem;
            line-height: 0.3rem;
            font-size: 0.18rem;
            color: var(--titleColor);
            display: flex;
            i{
                font-style:normal;
                padding:0.02rem 0.07rem;
                background:var(--bgColor);
                border-radius:0.04rem;
                color:#ffffff;
                font-size:0.18rem;
                margin: 0 0.11rem;
            }
            .profile_logo_img{
                border-radius: 0.04rem;
                margin-left: 0.03rem;
                margin-right: 0.03rem;
            }
        }

    }
        .address_profile{
        @include borderRadius(5px);
    }

    .list_tab_wrap{
        width: 100%;
        padding-top: 0.44rem;
        padding-bottom: 0.2rem;
        overflow-x: auto;
        display: flex;
        .list_tab_content{
            margin-bottom: 0.2rem;
            width: 100%;
            border-bottom: 0.01rem solid var(--bgColor);
            .list_tab_container{
                @include flex;
                height: 0.38rem;
                min-width: 4rem;
                max-width: 12.8rem;
                padding-left: 0.2rem;
                .list_tab_item{
                    position: relative;
                    top: 0.01rem;
                    text-align: center;
                    line-height: 0.38rem;
                    width: 1.54rem;
                    color: #A2A2AE;
                    border-left: 0.01rem solid #e4e4e4;
                    border-top: 0.01rem solid #e4e4e4;
                    border-right: 0.01rem solid #e4e4e4;
                    border-bottom: 0.01rem solid var(--bgColor);
                    cursor: pointer;
                }
            }
        }
        .activeStyle{
            color: var(--bgColor)!important;
            border-top: 0.01rem solid var(--bgColor) !important;
            border-right: 0.01rem solid var(--bgColor) !important;
            border-left: 0.01rem solid var(--bgColor) !important;
            border-bottom: 0.01rem solid #fff !important;
        }
    }
    //current tenure部分
    .current_tenure{
        margin-top:0.1rem;
        .current_tenure_wrap{
            width:100%;
        }
    }
    .personal_computer_transactions_detail_wrap{
        width:100%!important;
        box-sizing: border-box;
        .current_tenure_wrap{
            @include flex;
            flex-direction:row;
            .transactions_detail_information_wrap{
                flex:3;
            }
            .canvas_voting_power{
                flex:2;
                padding:0.2rem 0;
                .progress_wrap{
                    margin-bottom:0.15rem;
                    .progress_wrap_background{
                        height:0.3rem;
                        background: #efeff1;
                        margin-top:0.12rem;
                        .progress_value{
                            background:#a4d7f4;
                            height:100%;
                            line-height:0.3rem;
                            text-indent:0.2rem;
                        }
                    }
                }

            }
        }
    }
    .mobile_transactions_detail_wrap{
        width:100%;
        .current_tenure_wrap{
            @include flex;
            flex-direction:column;
        }

        .canvas_voting_power{
            flex:2;
            .progress_wrap{
                margin-bottom:0.15rem;
                .progress_wrap_background{
                    height:0.3rem;
                    background: #efeff1;
                    margin-top:0.12rem;
                    .progress_value{
                        background:#a4d7f4;
                        height:100%;
                        line-height:0.3rem;
                        padding-left:0.2rem;
                    }
                }
            }

        }
    }
    //底部表格部分
    .transaction_precommit_table{
        margin-top:0.28rem;
        margin-bottom:0.4rem;
        .tab_wrap{
            border-bottom:1px solid #d6d9e0;
            span{
                height:0.38rem;
                line-height:0.38rem;
                width:1.5rem;
                display:inline-block;
                color:#fff;
                text-align: center;
                background:rgba(214,217,224,1);
                cursor:pointer;
                margin-bottom:0.2rem;

            }
            .transactions_btn_active{
                background: var(--bgColor);

            }
        }
        .table_wrap{
            width:100%;
            .pagination{
                @include flex;
                justify-content: flex-end;
            }
            .transactions_view_all{
                padding:0.1rem;
                @include flex;
                justify-content:space-between;
                height:0.62rem;
                align-items: center;
                span:nth-child(1){
                    color: var(--titleColor);
                    font-size: 0.14rem;
                }
                span:nth-child(2){
                    @include viewBtn;
                }
            }
            .precommit_view_all{
                padding:0.1rem;
                height:0.62rem;
                @include flex;
                justify-content:space-between;
                align-items: center;
                span{
                    font-size:0.14rem;
                    color:var(--titleColor);
                    &:nth-child(3){
                        display:inline-block;
                        margin-left:0.1rem;
                    }
                }
                .view_all_btn{
                    @include viewBtn;
                }
            }
            .transaction_table{
                overflow-x:auto;
                -webkit-overflow-scrolling:touch;
                .no_data_show{
                    @include flex;
                    justify-content: center;
                    border-top:0.01rem solid #eee;
                    border-bottom:0.01rem solid #eee;
                    font-size:0.14rem;
                    height:3rem;
                    align-items: center;
                }
            }
        }
    }

    .line_container_wrap{
        width: 100%;
        padding-bottom: 0.2rem;
        .line_container{
            width: 80%;
            min-width: 3.2rem;
            max-width: 12.8rem;
            margin: 0 auto;
            .line_history_title{
                height:0.5rem;
                line-height: 0.5rem;
                font-size: 0.18rem;
                padding-left: 0.2rem;
                color: #000;
                @include fontWeight;
            }
            .line_content{
                @include flex;
                .line_echarts_content{
                    max-width: 50%;
                    margin-top: 0.2rem;
                    flex: 1;
                    border: 0.01rem solid #e4e4e4;
                    .line_left_container{
                        height: 3.5rem;
                    }
                    .line_right_container{
                        height: 3.5rem;
                    }
                }

            }

        }
    }
    .line_tab_content{
        @include flex;
        width: 100%;
        margin: 0 auto;
        height: 0.42rem;
        div{
            display: inline-block;
            flex: 1;
            text-align: center;
            line-height: 0.4rem;
            font-size: 0.12rem !important;
            color: #000;
            border-top: 0.01rem solid #e4e4e4;
            border-right: 0.01rem solid #e4e4e4;
        }
        div:nth-child(3){
            border-right: none;
        }
    }
    .content_right{
        margin-left: 0.2rem;
    }
    .border-none{
        color: #000!important;
        border-top: 0.01rem solid #fff !important;
        &:hover{
            cursor: pointer;
        }
    }
    .border-block{
        color: var(--titleColor)!important;
        border-top: 0.01rem solid #e4e4e4 !important;
        &:hover{
            cursor: pointer;
        }
    }
    .mobile_transactions_detail_wrap{
        width: 100%!important;
        .line_content {
            @include flex;
            flex-direction: column;
            .line_echarts_content {
                max-width: 100%!important;
                margin-top: 0.2rem;
                padding: 0 0.1rem;
                flex: 1;
                border: 0.01rem solid #e4e4e4;

                .line_left_container {
                    height: 3.5rem;
                }

                .line_right_container {
                    height: 3.5rem;
                }

            }
        }
    }
    .model_content_right{
        margin-left: 0 ;
    }
    .information_show_trim{
        white-space: pre-wrap ;
    }
    .jump_link_style{
        cursor: pointer;
        color: var(--bgColor) !important;
        a{
            color: var(--bgColor) !important;
        }
    }
    .mobile_transactions_detail_wrap{
        .list_tab_content{
            width: 100%;
            margin-bottom: 0.2rem;
            border-bottom: 0.01rem solid #fff!important;
            overflow-x: auto;
            overflow-y: hidden;
            .list_tab_container{
                @include flex;
                height: 0.38rem;
                min-width: 6rem;
                max-width: 12.8rem;
                padding-left: 0!important;
                margin-left: 0!important;
                .list_tab_item{
                    text-align: center;
                    line-height: 0.38rem;
                    width: 1.54rem;
                    color: #A2A2AE;
                    border-left: none!important;
                    border-top: 0.01rem solid #e4e4e4;
                    border-right: none!important;
                    border-bottom: 0.02rem solid #e4e4e4;
                }
            }
            .activeStyle{
                color: var(--bgColor)!important;
                border-top: 0.01rem solid #e4e4e4 !important;
                border-bottom: 0.02rem solid var(--bgColor) !important;
                z-index: 5;
            }
        }
        .no_data_show{
            @include flex;
            justify-content: center;
            border-top:0.01rem solid #eee;
            border-bottom:0.01rem solid #eee;
            font-size:0.14rem;
            height:3rem;
            align-items: center;
        }
        .blocks_list_table_container{
            overflow-x: auto;
            -webkit-overflow-scrolling:touch;
            .address_tx_list_table{
                min-width: 12.8rem;
                margin-top: 0.2rem;
            }
        }
    }
    .candidate_validator{
        width: 2rem;
        white-space: nowrap;
        color: #45B035;
        @include fontSize;
        padding-left: 0.09rem;
    }
    .jailed_validator{
        width: 2rem;
        color: #f00;
        white-space: nowrap;
        @include fontSize;
        padding-left: 0.09rem;
    }
    .candidate_color{
        background: #45B035!important;
    }
    .jailed_color{
        background: #f00!important;
    }
    .personal_computer_transactions_detail_wrap{
        .no_data_show{
            @include flex;
            justify-content: center;
            border-top:0.01rem solid #eee;
            border-bottom:0.01rem solid #eee;
            font-size:0.14rem;
            height:3rem;
            align-items: center;
        }
        .blocks_list_table_container{
            overflow-x: auto;
            -webkit-overflow-scrolling:touch;
            .address_tx_list_table{
                min-width: 12.8rem;
                margin-top: 0.2rem;
            }
        }
    }
    .information_pre{
        white-space:pre-wrap;
        a{
            color: var(--bgColor) !important;
        }
    }
}

.information_adress_value {
    display: flex;
    flex-wrap: wrap;
    i {
        display: inline-block;
        height: 20px;
        width: 14px;
        color: #ffffff;
        font-style: normal;
        text-align: center;
        border-radius: 2px;
        margin-right: 0.09rem;
    }
    img {
        height: 20px;
        border-radius: 2px;
        margin-right: 0.09rem;
    }
    span {
        padding-left: 0 !important;
        margin-right: 0.09rem;
    }
    span:nth-of-type(1) {
        margin-right: 0.09rem;
    }
}
.information_props{
    color: #787c99 !important;;
}
