$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;
@mixin fontSize{
  font-size: 0.14rem;
}
@mixin validatorCommonSortIcon{
  width: 0.1rem;
  height: 0.20rem;
  content:"" !important;
  opacity: 1;
  display: inline-block !important;
  vertical-align: middle !important;
  margin-left: .05rem !important;
  position: relative !important;
  right: 0 !important;
  margin-bottom: 0 !important;
}
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  -o-border-radius: $radius !important;
  border-radius: $radius !important;
}
//pc端布局是中部对齐
@mixin pcCenter {
  width: 80%;
  min-width: 4rem;
  max-width: 12.8rem;
}
//pc端中对齐端容器样式
@mixin pcContainer {
  width:100%;
  flex-direction: column;
  align-items: center;
}

//flex的兼容写法
@mixin flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//绝对定位上下左右居中
@mixin fixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
  display: flex;
  justify-content: $type;

}
@mixin viewBtn{
  width:0.7rem;
  height:0.3rem;
  line-height:0.3rem;
  cursor:pointer;
  color:#c9eafd;
  text-align: center;
  background: var(--bgColor);
  @include borderRadius(0.05rem);
  font-size:0.14rem;
}
//外部链接背景图
@mixin linkBtn($url,$urlH){
  background:url($url) no-repeat 0 0;
  &:hover{
    background:url($urlH) no-repeat 0 0;
  }
}
//溢出显示省略号
@mixin overflowEllipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
//输入框内阴影
@mixin inputBoxShadow{
  box-shadow: 0 0 0.03rem 0.03rem rgba(214,217,224,0.4) inset !important;
  -moz-box-shadow: 0 0 0.03rem 0.03rem rgba(214,217,224,0.4) inset !important;
  -webkit-box-shadow: 0 0 0.03rem 0.03rem rgba(214,217,224,0.4) inset !important;
}
//统一字体加粗
@mixin  fontWeight{
  font-weight: 500 !important;
}
@mixin fadeInAnimation{
  animation: fadeIn 1s 1 0s;

}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
