$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;

@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
//pc端布局是中部对齐
@mixin pcCenter {
  width: 80%;
  min-width: 70rem;
  max-width: 100rem;
}
//pc端中对齐端容器样式
@mixin pcContainer {
  width:100%;
  flex-direction: column;
  align-items: center;
}

//flex的兼容写法
@mixin flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

//定位上下左右居中
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
  display: flex;
  justify-content: $type;

}
@mixin viewBtn{
  width:78px;
  height:30px;
  line-height:30px;
  cursor:pointer;
  color:#c9eafd;
  text-align: center;
  background: #3598db;
  @include borderRadius(5px);
}
//外部链接背景图
@mixin linkBtn($url,$urlH){
  background:url($url) no-repeat 0 0;
  &:hover{
    background:url($urlH) no-repeat 0 0;
  }
}
//溢出显示省略号
@mixin overflowEllipsis{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
