@font-face {
  font-family: "iconfont"; /* Project id 1594514 */
  src: url('iconfont.woff2?t=1626422941931') format('woff2'),
       url('iconfont.woff?t=1626422941931') format('woff'),
       url('iconfont.ttf?t=1626422941931') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongithub1:before {
  content: "\e6ee";
}

.icontelegram1:before {
  content: "\e6ed";
}

.icontweeter:before {
  content: "\e6ec";
}

.iconmedium1:before {
  content: "\e6eb";
}

.icontiaozhuan:before {
  content: "\e616";
}

.iconStargate1:before {
  content: "\e6a2";
}

.iconfuwei:before {
  content: "\e6a1";
}

.iconxiangxia:before {
  content: "\e6a0";
}

.iconxiangshang:before {
  content: "\e69f";
}

.icongithub:before {
  content: "\e69d";
}

.iconmedium:before {
  content: "\e69c";
}

.icontelegram:before {
  content: "\e69b";
}

.icontuite:before {
  content: "\e69a";
}

.iconCosmosHub:before {
  content: "\e696";
}

.iconStargate:before {
  content: "\e695";
}

.iconInitialDeposit:before {
  content: "\e610";
}

.iconVeto:before {
  content: "\e611";
}

.iconDepositPeriod:before {
  content: "\e612";
}

.icon4HoursLeft:before {
  content: "\e613";
}

.iconDepositPeriod-liebiao:before {
  content: "\e614";
}

.iconPass:before {
  content: "\e615";
}

.iconBondedTokens:before {
  content: "\e60f";
}

.iconshujuleibie:before {
  content: "\e626";
}

.iconwangluoqiehuanjiantou:before {
  content: "\e60c";
}

.iconfuxi1:before {
  content: "\e60d";
}

.iconBI-01:before {
  content: "\e60e";
}

.iconyiwen:before {
  content: "\e60a";
}

.icontishi:before {
  content: "\e601";
}

.iconiris:before {
  content: "\e602";
}

.iconcaihongmao:before {
  content: "\e607";
}

.iconGOZ:before {
  content: "\e608";
}

.iconID:before {
  content: "\e656";
}

.iconhelp:before {
  content: "\e60b";
}

.iconzhankai:before {
  content: "\e604";
}

.iconshouqi:before {
  content: "\e605";
}

.iconservice:before {
  content: "\e655";
}

.iconUsers:before {
  content: "\e653";
}

.iconAssets:before {
  content: "\e654";
}

.iconxialaxuanzejiantou:before {
  content: "\e606";
}

.iconAvgBlockTime:before {
  content: "\e61d";
}

.iconBlocks:before {
  content: "\e61e";
}

.iconBlockHeight:before {
  content: "\e61f";
}

.iconTransactions:before {
  content: "\e620";
}

.iconVotingPower:before {
  content: "\e621";
}

.iconsousuo:before {
  content: "\e622";
}

.iconshangyigequkuai:before {
  content: "\e62a";
}

.iconxiayigequkuai:before {
  content: "\e62b";
}

.iconzhongzhi:before {
  content: "\e62e";
}

.iconriqixuanze:before {
  content: "\e62f";
}

