/**
 * css for download html
 */
html {
    font-size: 62.5%
}

body {
    color: white;
    font-family: "Microsoft YaHei UI", "serif","PingFang SC Bold","PingFang SC Regular";
    font-size:1rem;

    /*background-position: center;*/
}
/*@media screen  {*/
    /**/
/*}*/

div.download-pc {
    /*color: white;*/
    /*background-color: #0d85cb;*/
    /*padding-bottom: 4%;*/
    /*text-align: center;*/
    width: 395px;
    margin: auto;
    /*position: relative;*/
}

div.main {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../img/welcome-bg.jpg")no-repeat center center fixed;
    background-size: cover;
}

/*div.main div.qr, div.qr div p {*/
/*margin-top: 4%;*/
/*}*/

div.footer {
    margin-top: 5%;
}

.block-inline {
    display: inline-block;
}

.gray-font {
    color: #737a8d;
}

.protocol-font {
    color: #737a8d;
}

.download-font {
    color: #413f4d;
}

.download-font-phone {
    color: #747f93;
}

.btn-download-android {
    width: 78%;
    background: #4781ff;
    color: white;
    font-size: 1.5rem;
    padding: 8px 0;
}

.btn-download-ios {
    width: 78%;
    background: #6750e9;
    color: white;
    font-size: 1.5rem;
    padding: 8px 0;
}
.header-title{
    width: 68%;
    margin-left: 16%;
}
.container-fluid{
    width: 100%;
}
.lang-block{
    height: 54px;
    line-height:54px;
}
.header-logo{
    padding-top: 42px;
}
.font-container{
    position: absolute;
    top: 44%;
    left: 48%;
    color: #000;
}
.title{
    font-size: 26px;
    color: #646466;
}
.header-title-info{
    width: 68%;
    margin-left: 16%;
    padding-top: 38px;
}
.expect-title{
    font-size: 25px;
    color: #A2A2AE;
    margin: 0;
    padding: 0;
 }

.header-title-explorer{
    font-size: 35px;
    color: #3498DB;
}

.explorer-btn{
    margin-top: 33px;
    background: #3498DB;
    display: inline-block;
    color: #fff;
    padding: 17px 31px;
    text-decoration: none;
    border-radius: 9px;
    text-align: center;
    font-size: 18px;

}
.explorer-btn:hover{
    color: #fff;
    text-decoration: none;
}
.mobile-img-logo{
    width: 100%;
    height: 100%;
}
.mobile-img-logo img{
    width: 100%;
}
.logo-content{
    position: absolute;
    width: 17.1rem;
    height: 5.6rem;
    margin: 3.7rem 0 0 2.8rem;

}
.logo-content img{
    width: 100%;
}
.mobile-title-content{
    text-align: left;
    position: absolute;
    margin: 1rem 0 0 2.8rem;
    top:9.3rem;
    color: #000;
}
.mobile-expect-title{
    font-size: 1.5rem;
    color: #A2A2AE;
}
.mobile-header-title-explorer{
    font-size: 3rem;
    color: #3498DB;
}
.mobile-explorer-btn{
    display: inline-block;
    font-size: 1.3rem;
    padding: 1.4rem 2.1rem;
    background: #3498DB;
    color: #fff;
    border-radius: 0.8rem;
    margin-top: 3rem;

}
.mobile-explorer-btn:hover{
    color: #fff;
    text-decoration: none;
}
